[submodule "libdclist"]
	path = libdclist
	url = https://github.com/Masaya-Kamei/libdclist.git
[submodule "libft"]
	path = libft
	url = https://github.com/Masaya-Kamei/libft.git
[submodule "libgnl"]
	path = libgnl
	url = https://github.com/Masaya-Kamei/libgnl.git
